@page "/activeorders"
@inject HttpClient client
@inject IJSRuntime js

<h3>Aktiva ordrar.</h3>
<small>Alla orders som operatörer jobbar med just nu.</small>


<br>

@if (activeOrderView == null)
{
    <text>Loading...</text>
}
else if (activeOrderView.Count == 0)
{
    <text>No Records Found.</text>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Operatör</th>
                <th>Arbetsbeskrivning </th>
                <th>Arbete startar</th>
                <th>Övrig information</th>
                <th>Företagskund</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ActiveOrderView order in activeOrderView)
            {
                if (order.OrderComplete == false)
                {
            <tr>
                <td>@order.OpFirstName @order.OpLastName</td>
                <td>@order.OrderDescription</td>
                <td>@order.OrderStart</td>
                <td>@order.OrderInfo</td>
                <td>@order.Customer</td>
                <td></td>
                <td>

                </td>
            </tr>
                }

            }

        </tbody>
    </table>
}
@code {

    List<ActiveOrderView> activeOrderView { get; set; } = new List<ActiveOrderView>();

    protected override async Task OnInitializedAsync()
    {
        activeOrderView = await client.GetFromJsonAsync<List<ActiveOrderView>>("https://webapitodo20200919020315.azurewebsites.net/api/activeorderview");

    }

}