@page "/activeorders"
@inject HttpClient client
@inject IJSRuntime js


<style>
    .btn-success {
        background-color: slategray;
        color: black;
        border-color: slategray;
    }

        .btn-success:hover {
            background-color: lightgray;
            border-color: lightgray;
        }

    .activeOrderList {
        overflow: scroll;
    }
</style>





@if (activeOrderView == null)
{
    <div class="spinner"></div>
}
else if (activeOrderView.Count == 0)
{
    <div class="spinner"></div>
}
else if (SetCurrentUser.IsAuthenticated == true)
{
    {

        @foreach (var item in new string[] { "Accepterade", "Inte Accepterade", "Visa allt" })
        {
            <div>
                <input type="radio" name="tables" id="@item" value="@item" @onchange="RadioSelection" checked=@(tableValue.Equals(item,StringComparison.OrdinalIgnoreCase)) />
                <label for="@item">@item</label>
            </div>
        }


        <div class="form-group @vis">
            <h3>Accepterade Ordrar</h3>
            <small>Alla orders som operatörer jobbar med just nu.</small>
            <table id="acceptedTable" class="table table-striped">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Arbetsbeskrivning </th>
                        <th>Arbete startar</th>
                        <th>Övrig information</th>
                        <th>Operatörs ID</th>
                        <th>OrderStatus</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Orders order in activeOrderView)
                    {
                        if (order.OrderStatus == OrderStatus.ACCEPTERAD)
                        {
                            <tr>
                                <td>@order.orderId</td>
                                <td>@order.orderDescription</td>
                                <td>@order.orderStart</td>
                                <td>@order.orderInfo</td>
                                <td><a class="btn btn-success" href="operator/details/@order.OperatorID">@order.OperatorID</a></td>
                                <td>@order.OrderStatus</td>
                                <td>
                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
        <p></p>
        <hr />
        <p></p>

        <div id="notAcceptedTable" class="form-group @vis2">
            <h3>Ej accepterade ordrar</h3>
            <small>Här visas alla ordrar som ej hunnit accepterats.</small>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Arbetsbeskrivning </th>
                        <th>Arbete startar</th>
                        <th>Övrig information</th>
                        <th>Operatörs ID</th>
                        <th>OrderStatus</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Orders order in activeOrderView)
                    {
                        if (order.OrderStatus == OrderStatus.EJ_ACCEPTERAD)
                        {
                            <tr>
                                <td>@order.orderId</td>
                                <td>@order.orderDescription</td>
                                <td>@order.orderStart</td>
                                <td>@order.orderInfo</td>
                                <td><a class="btn btn-success" href="operator/details/@order.OperatorID">@order.OperatorID</a></td>
                                <td>@order.OrderStatus</td>
                                <td>
                                </td>
                            </tr>
                        }

                    }

                </tbody>
            </table>
        </div>
    }
}
else
{
    <h3>User authentication token not found. Please log in..</h3>

}

@code {

    List<Orders> activeOrderView { get; set; } = new List<Orders>();
    private string vis { get; set; } = "d-none";
    private string vis2 { get; set; } = null;
    string tableValue = "Inte Accepterade";

    protected override async Task OnInitializedAsync()
    {
        activeOrderView = await client.GetFromJsonAsync<List<Orders>>("https://webapitodo20200919020315.azurewebsites.net/api/orders");

    }

    //Metod som väljer vilken tabell som skall visas
    //Vis == Accepterade ordrar
    //Vis2 == Ej accepterade ordrar
    void RadioSelection(ChangeEventArgs args)
    {
        tableValue = args.Value.ToString();

        vis = tableValue == "Accepterade" ? null : "d-none";
        vis2 = tableValue == "Inte Accepterade" ? null : "d-none";

        if (tableValue == "Visa allt")
        {
            vis = tableValue == "Visa allt" ? null : "d-none";
            vis2 = tableValue == "Visa allt" ? null : "d-none";
        }

    }

}
