@page "/activeorders"
@inject HttpClient client
@inject IJSRuntime js

<h3>Aktiva ordrar.</h3>
<small>Alla orders som operatörer jobbar med just nu.</small>


<br>

@if (activeOrderView == null)
{
    <div class="spinner"></div>
}
else if (activeOrderView.Count == 0)
{
    <div class="spinner"></div>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Arbetsbeskrivning </th>
                <th>Arbete startar</th>
                <th>Övrig information</th>
                <th>Operatörs ID</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Orders order in activeOrderView)
            {
                if (order.orderComplete == false)
                {
            <tr>
                <td>@order.orderId</td>
                <td>@order.orderDescription</td>
                <td>@order.orderStart</td>
                <td>@order.orderInfo</td>
                <td>@order.OperatorID</td>
                <td></td>
                <td>

                </td>
            </tr>
                }

            }

        </tbody>
    </table>
}
@code {

    List<Orders> activeOrderView { get; set; } = new List<Orders>();

    protected override async Task OnInitializedAsync()
    {
        activeOrderView = await client.GetFromJsonAsync<List<Orders>>("https://webapitodo20200919020315.azurewebsites.net/api/orders");

    }

}