@page "/ordershistory"
@inject HttpClient client
@inject IJSRuntime js

<h3>Order Betalningar</h3>
<small>Bästa sidan att besöka. Här får vi betalt!</small>


<br>

@if (activeOrderView == null)
{
    <text>Loading...</text>
}
else if (activeOrderView.Length == 0)
{
    <text>No Records Found.</text>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Operatör</th>
                <th>Arbetsbeskrivning </th>
                <th>Arbete startar</th>
                <th>Övrig information</th>
                <th>Företagskund</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ActiveOrderView order in activeOrderView)
            {
                if (order.OrderComplete == true)
                {
                    <tr>
                        <td>@order.OpFirstName @order.OpLastName</td>
                        <td>@order.OrderDescription</td>
                        <td>@order.OrderStart</td>
                        <td>@order.OrderInfo</td>
                        <td>@order.Customer</td>
                        <td>
                            <a class="btn btn-success" href="#">Skicka Faktura</a>
                        </td>
                    </tr>
                }

            }

        </tbody>
    </table>
}
@code {

    ActiveOrderView[] activeOrderView { get; set; }
    public int CompletedToken { get; set; } = 1;
    protected override async Task OnInitializedAsync()
    {
        activeOrderView = await client.GetFromJsonAsync<ActiveOrderView[]>("https://localhost:44374/api/activeorderview");

    }
}