@page "/Order/History"
@inject NavigationManager uriHelper
@inject HttpClient client
@inject IJSRuntime js

<h3>Order History</h3>
<small>Historiska orders</small>


<br>

@if (orderHistora == null)
{
    <div class="spinner"></div>
}
else if (orderHistora.Count == 0)
{
    <div class="spinner"></div>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>

                <th>Order ID</th>
                <th>Arbetsbeskrivning </th>
                <th>Arbetsorder startar</th>
                <th>Arbetsorder slut</th>
                <th>Övrig information</th>
                <th>Operatörs ID</th>
                <th>Order Status</th>

            </tr>
        </thead>
        <tbody>
            @foreach (Orders order in orderHistora)
            {
                if (order.OrderStatus == OrderStatus.FAKTURA_SKICKAD)
                {
                    <tr>
                        <td>@order.orderId</td>
                        <td>@order.orderDescription</td>
                        <td>@order.orderStart</td>
                        <td>@order.orderEnd</td>
                        <td>@order.orderInfo</td>
                        <td>@order.OperatorID</td>
                        <td>@order.OrderStatus</td>

                    </tr>
                }

            }

        </tbody>
    </table>
}
@code {

    public List<Orders> orderHistora { get; set; } = new List<Orders>();
    protected override async Task OnInitializedAsync()
    {
        orderHistora = await client.GetFromJsonAsync<List<Orders>>($"https://webapitodo20200919020315.azurewebsites.net/api/orders");       
    }

}