@page "/Order/History"
@inject HttpClient client
@inject IJSRuntime js

@if (SetCurrentUser.IsAuthenticated == true)
{<h4>Ange företagsnamn:</h4>
    <input @bind-value="SearchTerm" @bind-value:event="oninput" />
}
else
{
    <h3>User authentication token not found. Please log in..</h3>

}

@if (SetCurrentUser.IsAuthenticated == true)
{
    @*<span class="text-muted ml-5">
        Visar @FilteredToDos.Count av @companyName.Count ordrar
    </span>*@

    <table id="acceptedTable" class="table table-striped">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Företag </th>
                <th>Arbete startade</th>
                <th>Arbete avslutades</th>
                <th>Operatörs ID</th>
                <th>Orderinfo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in FilteredToDos)
            {
                if (order.OrderStatus == OrderStatus.FAKTURA_SKICKAD)
                {
                    <tr>
                        <td>@order.OrderId</td>
                        <td>@order.Company</td>
                        <td>@order.OrderStart</td>
                        <td>@order.OrderEnd</td>
                        <td><a class="btn btn-success" href="operator/details/@order.OperatorID">@order.OperatorID</a></td>
                        <td>@order.OrderDescription</td>
                    </tr>
                }
            }
        </tbody>
    </table>

}


@code {
    string SearchTerm { get; set; } = "";

    List<OrderOverView> companyName { get; set; } = new List<OrderOverView>();

    protected override async Task OnInitializedAsync()
    {
        companyName = await client.GetFromJsonAsync<List<OrderOverView>>("https://webapitodo20200919020315.azurewebsites.net/api/orderoverview");

    }

    List<OrderOverView> FilteredToDos => companyName.Where(i => i.Company.ToLower().Contains(SearchTerm.ToLower())).ToList();
}