@page "/customer/details/{customerId:int}"
@inject HttpClient client
@inject NavigationManager uriHelper
@inject IJSRuntime js


<table id="customers" class="table table-bordered table-danger">
    <tr id="testing"></tr>
    <tr><th>Företag: @_customer.Company</th></tr>
    <tr><th>Address: @_customer.Street</th></tr>
    <tr><th>Stad: @_customer.City</th></tr>
    <tr><th>Epost: @_customer.Email</th></tr>
    <tr><th>Telefon: @_customer.Phone</th></tr>

</table>

<div class="BackButton">
    <button class="btn btn-dark" @onclick="@GetBackOnePage">Tillbaks till företagskunder</button>
    <a class="btn btn-success" href="customer/edit/@_customer.Id">Edit</a>
    <button class="btn btn-danger" @onclick="@(() => Delete(_customer.Id))">Ta bort @_customer.Company</button>

</div>


@code{
    [Parameter] public int customerId { get; set; }
    Customers _customer = new Customers();

    protected override async Task OnInitializedAsync()
    {
        _customer = await client.GetFromJsonAsync<Customers>($"https://localhost:44374/api/customers/ {customerId}");
    }

    public void GetBackOnePage()
    {
        uriHelper.NavigateTo("customerlist");
    }

    async Task Delete(int id)
    {
        if (await js.InvokeAsync<bool>("confirm", $"Vill du ta bort {_customer.Company}'s med ID: ({_customer.Id}) som kund?"))
        {
            await client.DeleteAsync($"https://localhost:44374/api/customers/ {id}");
            GetBackOnePage();


        }
    }

}
